@font-face{
  font-family:'bigbimbo';
  src:url('fonts/Big-Bimbo-NC.ttf');
}
@font-face{
	
	font-family: 'TerminalDosis-Medium';
	src: url('fonts/TerminalDosis-Medium.ttf');
}

@font-face{
	
	font-family: 'TerminalDosis-Regular';
	src: url('fonts/TerminalDosis-VaivaiRegular.ttf');
}
@font-face{
	
	font-family: 'TerminalDosis-Light';
	src: url('fonts/TerminalDosis-Light.ttf');
}
body{
  font-family:'bigbimbo';
}

/********


HEADER

*********/


li.liens{
  text-transform: uppercase;
  padding-top:3%;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
}

header{
  background:#ffffff;
  font-family:url('fonts/Vaivai%20Handwritting%20Regular%20Mac.ttf');
}

ul.menu li a{
  color:#000000;
}

span{
  color:#ff7ca6;
}

p{
  font-family: 'TerminalDosis-Light';
}

h1{
  font-family:'bigbimbo';
}

#monmenu ul li:hover a{
	
	color : #fa1978;
}

#monmenu ul .liens:hover{
	
	padding-top: 2.85%;		
	padding-bottom: 2.85%;
	background: #F9F9F9;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*********************************


MAIN


**********************************/
h1.titre{
  font-size:30px;
  position:absolute;
  right:20px;
  bottom: 20px;
  color:#ffffff;
  font-family:'bigbimbo';
}

div.tour{
  position:relative;
}

div.carouselProduits-slide{
  position:relative;
}

div.tour p{
  color:#ffffff;
  line-height: 25px;
  text-align:right;
}

a.button{
  background:#f5f5f5;
  text-align:center;
}


section.fond{
  background-image:url(../images/Savane.png);
}

div.tour{
  position:relative;
}


div.tour a{
  position:absolute;
  bottom:20px;
  right:60px;
  width:15%;
  height:7%;
}

div.row{
  margin-top:20px;
}


ul.date li{
  list-style:none;
}

div.text{
  text-align:center;
}

p{
  font-size:15px;
}
.textTrois, .textCinq{
  text-align:left;
}


p.textTrois, p.textCinq{
  font-size:15px;
  line-height:16px;
}

a.button{
  background:#001623;
}

.textQuatre{
  text-align:right;
}

p.textQuatre{
  font-size:15px;
  line-height:16px;
}

.cache{
  display:none;
}

ul.repere li{
  position:relative;
}

ul.repere li:hover ul.cache{
  display:block;
  position:absolute;
  top:100%;
  right:0;
  background:#ffffff;
  color:#ff7ca6;
  width:150px;
  z-index:99;
}

section.fondTrois{ 
  background:url(../images/bois-pattern.jpg);
}

h1.titrePartie{
  color:#fe0076;
  font-weight:bold;
  font-size:25px;
  text-align:center;
  
}

section.fondCinq{
  background:#99ca3c;
}
/********

footer

************/
footer{
  text-align:center;
  text-transform:Capitalize;
  margin-top:25px;
  margin-bottom:45px;
}

ul.footer li, ul.reseauxSociaux li{
  display:inline-block;
  margin-right:5px;
  margin-left:5px;
  color:#75716a;
}

ul.footer li a{
  text-decoration:none;
  color:#75716a;
}

.autresLiens{
  font-size:11px;
  font-family:Dosis;
}

ul.reseauxSociaux li a img{
  height:25px;
}

ul.footer{
  padding-top:0;
  padding-bottom:0;
  
}
footer .menu{
  font-family:'TerminalDosis-Regular';
}

.autresLiens{
  font-size:11px;
  font-family: 'TerminalDosis-Medium';
}

.fondTroisBis{
  background:url('../images/boisNoir.png');
}

.event{
  font-size:40px;
  color:#ffffff;
  margin-top:25px;
}

.fondcarte{
  background:url('../images/bois-pattern.jpg');
}
/*************

A FAIRE

************/

.test{
  -moz-box-shadow: 2px 2px 3px 0px #000000;
  -webkit-box-shadow: 2px 2px 3px 0px #000000;
  -o-box-shadow: 2px 2px 3px 0px #000000;
  box-shadow: 2px 2px 3px 0px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=3);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-top:-50px;
}

.slick-prev:before{
  color:black;
}
.slick-next:before{
  color:black;
}
@media screen max-width(1200px) & min-width(480px){
  .slick-next{ 
  margin-right:100px;
}
}


.logo{
  margin-top:30px;
  width:300px;
}

.button{
  border-radius: 150px;
}

.logvai{
  margin-top:50px;
}

img{
  display:block;
}