body{
  font-weight: 400;
  font-family:Dosis;
}

/********


HEADER

*********/

li.liens{
  text-transform: uppercase;
  margin-top:3%;
}

header{
  background:#ffffff;
  font-family:url('fonts/Vaivai%20Handwritting%20Regular%20Mac.ttf');
}

ul.menu li a{
  color:#000000;
}
span{
  color:#ff7ca6;
}

.columns{
  padding:20px;
}
/*********************************


MAIN


**********************************/
div.carouselProduits-slide{
  position:relative;
}

div.tour p{
  color:#ffffff;
  line-height: 25px;
  text-align:right;
}

a.button{
  background:#f5f5f5;
  text-align:center;
}


div.carouselProduits-slide p{
  color:#000000;
  position:absolute;
  bottom:0;
  left:10%;
}

section.fond{
  background-image:url(../images/Savane.png);
}

div.tour{
  position:relative;
}


div.tour a{
  position:absolute;
  bottom:20px;
  right:60px;
  width:15%;
  height:7%;
}

div.row{
  margin-top:20px;
}


ul.date li{
  list-style:none;
}

div.text{
  text-align:center;
}

h1{
  font-size:20px;
}

p{
  font-size:15px;
}
.textTrois, .textCinq{
  text-align:left;
}


p.textTrois, p.textCinq{
  font-size:15px;
  line-height:16px;
}

a.button{
  background:blue;
}
.haut{
  margin-top:40%;
}

.textQuatre{
  text-align:right;
}

p.textQuatre{
  font-size:15px;
  line-height:16px;
}

.cache{
  display:none;
}

ul.repere li{
  position:relative;
}

ul.repere li:hover ul.cache{
  display:block;
  position:absolute;
  top:0;
  right:0;
  background:#ffffff;
  color:#ff7ca6;
  width:150px;
  z-index:99;
}

section.fondTrois{ 
  background:url(../images/bois-pattern.jpg);
}

/********

footer

************/
footer{
  text-align:center;
  text-transform:Capitalize;
  margin-top:25px;
  margin-bottom:45px;
}

ul.footer li, ul.reseauxSociaux li{
  display:inline-block;
  margin-right:5px;
  margin-left:5px;
  color:#75716a;
}

ul.footer li a{
  text-decoration:none;
  color:#75716a;
}

.autresLiens{
  font-size:11px;
  font-family:Dosis;
}

ul.reseauxSociaux li a img{
  height:25px;
}

ul.footer{
  padding-top:0;
  padding-bottom:0;
  
}

section.fondCinq{
  background:#01aa3a;
}
/*************

A FAIRE

************/
.slick-prev{
  color:black;
  background:red;
}