body{
  font-weight: 400;
}

/********


HEADER

*********/

li.liens{
  text-transform: uppercase;
  margin-top:3%;
}

header{
  background:#ffffff;
  font-family:url('fonts/Vaivai%20Handwritting%20Regular%20Mac.ttf');
}

ul.menu li a{
  color:#000000;
}
span{
  color:#ff7ca6;
}
/*********************************


MAIN


**********************************/
div.carouselProduits-slide{
  position:relative;
}

div.tour p{
  color:#ffffff;
  line-height: 25px;
  text-align:right;
}

section.fond, a.button{
  background:#f5f5f5;
  text-align:center;
}


div.carouselProduits-slide p{
  color:#000000;
  position:absolute;
  bottom:0;
  left:10%;
}



div.tour{
  position:relative;
  background:#102531;
}


div.tour a{
  position:absolute;
  bottom:20px;
  right:60px;
  width:15%;
  height:7%;
}

h2{
  font-size-adjust:auto;
}

div.row{
  margin-top:20px;
}

ul.date{
  text-align:center;
}

ul.date li{
  list-style:none;
}

div.text{
  text-align:center;
}
/********

footer

************/
footer{
  text-align:center;
  text-transform:Capitalize;
  margin-top:25px;
  margin-bottom:45px;
}

ul.footer li, ul.reseauxSociaux li{
  display:inline-block;
  margin-right:5px;
  margin-left:5px;
  color:#75716a;
}

ul.footer li a{
  text-decoration:none;
  color:#75716a;
}

.autresLiens{
  font-size:11px;
  font-family:Dosis;
}
ul.reseauxSociaux li a img{
  height:25px;
}

h1{
  font-size:20px;
}
p{
  font-size:15px;
}
/*************

A FAIRE

************/

.event{
  text-transform: uppercase;
}

.centre{
  text-align:center;
  margin:0 auto;
}